<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>教育直播系统</title>

    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/style/index.css" rel="stylesheet">
    <link href="__PUBLIC__/fonts/iconfont.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="__STATIC__/css/style.css">
</head>
<body style="background-color: #fff">
<div class="content">
    <div class="header">
        <a class="open" id="open-button" style="margin-left: 20px"><img src="__STATIC__/images/open.png"></a>
        <div>
            <a href="{:url('index/index')}">首页</a>
            <a href="#">你好,{$teacher['real_name']}</a>
            <a href="{:url('index/index/login_out')}" style="margin-right: 10px;">注销</a>
        </div>
    </div>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #583e7e" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav" style="padding-left: 20px;padding-top: 20px;">
                <img src="__PUBLIC__/images/teacher.jpg" style="width: 150px;border-radius: 50%;border: 1px solid #ddd;margin-bottom: 20px;">
                <p style="color: #fff"><span>用户名：</span><span>{$teacher['name']}</span></p>
                <p style="color: #fff"><span>真实姓名：</span><span>{$teacher['real_name']}</span></p>
                <p style="color: #fff"><span>积分：</span><span>{$teacher['point']*0.8}</span></p>
                <!--<p style="color: #fff"><span>登录口令：</span><span>{$token}</span></p>-->
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <div class="info">
        <div class="detail">
            <div class="col-md-4 col-sm-4 col-xs-12 teacher" style="text-align: center">
                <img src="__PUBLIC__/images/teacher.jpg" style="width: 150px;border-radius: 50%;border: 1px solid #ddd;">
                <p style="margin-bottom: 20px;">
                    <a type="button" data-toggle="modal" data-target="#changemessage">
                        个人信息修改
                    </a>
                </p>
                <p><span>用户名：</span><span>{$teacher['name']}</span></p>
                <p><span>真实姓名：</span><span>{$teacher['real_name']}</span></p>
                <p><span>积分：</span><span>{$teacher['point']*0.8}</span></p>
                <!--<p><span>登录口令：</span><span>{$token}</span></p>-->

                <div class="modal fade" id="changemessage" tabindex="-1" role="dialog" aria-labelledby="">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">教师个人信息</h4>
                            </div>
                            <div class="modal-body">
                                <form name="form" action="{:url('index/teacher/updateInfo')}" novalidate method="POST">
                                    <div class="form-group">
                                        <input type="hidden" autocomplete="off" class="form-control" placeholder="" name="id" value="{$teacher['id']}">
                                    </div>
                                    <div class="form-group">
                                        <p style="float: left">用户名：</p><input type="text" autocomplete="off" class="form-control" placeholder="" name="name" value="{$teacher['name']}">
                                    </div>
                                    <div class="form-group">
                                        <p style="float: left">真实姓名：</p><input type="text" autocomplete="off" class="form-control" placeholder="" name="real_name" value="{$teacher['real_name']}">
                                    </div>
                                    <div class="form-group">
                                        <p style="float: left">密码：</p><input type="password" autocomplete="off" class="form-control" placeholder="密码" name="password" value="{$teacher['password']}">
                                    </div>

                                    <div class="form-group text-left mt-20" style="display: flex;justify-content: center;">
                                        <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff" type="submit" name="login_submit" value="保存修改">
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">

                <h4 style="color: red;margin-bottom: 20px;">设置课程信息</h4>
                {if($class)}
                <form name="form" action="{:url('index/teacher/addClass')}" novalidate method="POST">
                    <div class="form-group">
                        <input type="hidden" autocomplete="off" class="form-control" placeholder="课程名称" name="id" value="{$class['id']}">
                    </div>
                    <div class="form-group">
                        <p>课程名称：</p><input type="text" autocomplete="off" class="form-control" placeholder="课程名称" name="class_name" value="{$class['class_name']}">
                    </div>
                    <div class="form-group">
                        <p>开始时间：</p><input type="text" autocomplete="off" class="form-control" placeholder="开始时间" name="start_time" value="{$class['start_time']}">
                    </div>
                    <div class="form-group">
                        <p>需要积分：</p><input type="number" min="0" autocomplete="off" class="form-control" placeholder="积分" name="point" value="{$class['point']}">
                    </div>
                    <div class="form-group text-left mt-20" style="display: flex;justify-content: center;align-items: center">
                        <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff;margin-right: 10px;" type="submit" name="login_submit" value="保存修改">
                        <a href="{$url.'visible=true&nickname='.$teacher['real_name'].'&token='.$token}" target="_blank" style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff;margin-right: 10px;text-align: center;line-height: 40px;">点击进入直播</a>
                    </div>
                </form>
                {/if}
                {if(!$class)}
                <form name="form" action="{:url('index/teacher/addClass')}" novalidate method="POST">
                    <div class="form-group">
                        <p>课程名称：</p><input type="text" autocomplete="off" class="form-control" placeholder="课程名称" name="class_name" value="">
                    </div>
                    <div class="form-group">
                        <p>开始时间：</p><input type="text" autocomplete="off" class="form-control" placeholder="开始时间" name="start_time" value="">
                    </div>
                    <div class="form-group">
                        <p>需要积分：</p><input type="number" min="0" autocomplete="off" class="form-control" placeholder="积分" name="point" value="">
                    </div>
                    <div class="form-group text-left mt-20" style="display: flex;justify-content: center;align-items: center">
                        <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff;margin-right: 10px;" type="submit" name="login_submit" value="确认添加">
                        <a style="height: 40px;width: 100px;background-color: #ddd;border-radius: 5px;color: #fff;margin-right: 10px;text-align: center;line-height: 40px;">点击进入直播</a>
                    </div>
                </form>
                {/if}
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>
</body>
</html>