<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>教育直播系统</title>

    <!-- Bootstrap -->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/style/index.css" rel="stylesheet">
    <link href="__STATIC__/fonts/iconfont.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="__STATIC__/css/style.css">
</head>
    {if(!$name)}
    <div class="header">
        <!--<p class="title">教育直播系统</p>-->
        <!--<p>-->
            <a href="{:url('index/index')}">首页</a>
            <!-- Button trigger modal -->
            <a type="button" class="" data-toggle="modal" data-target="#admin">
                管理员登陆
            </a>
            <a type="button" class="" data-toggle="modal" data-target="#teacher">
                教师登陆
            </a>
            <a type="button" class="" data-toggle="modal" data-target="#student">
                学生登陆
            </a>
        <!--</p>-->

        <div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">管理员登陆</h4>
                    </div>
                    <div class="modal-body">
                        <form name="form" action="{:url('/index/index/teacher_login')}" novalidate method="POST">

                            <div class="form-group">
                                <input type="text" autocomplete="off" class="form-control" placeholder="管理员账号" name="admin_name" >
                            </div>

                            <div class="form-group">
                                <input type="password" autocomplete="off" class="form-control" placeholder="密码" name="admin_password" >
                            </div>

                            <div class="form-group text-left mt-20" style="display: flex;justify-content: center;">
                                <input type="hidden" class="form-control"  name="admin" value='1'>
                                <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff" type="submit" name="login_submit" value="登录">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="teacher" tabindex="-1" role="dialog" aria-labelledby="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">教师登陆</h4>
                    </div>
                    <div class="modal-body">
                        <form name="form" action="{:url('/index/index/teacher_login')}" novalidate method="POST">

                            <div class="form-group">
                                <input type="text" autocomplete="off" class="form-control" placeholder="教师账号" name="admin_name" >
                            </div>

                            <div class="form-group">
                                <input type="password" autocomplete="off" class="form-control" placeholder="密码" name="admin_password" >
                            </div>

                            <div class="form-group text-left mt-20" style="display: flex;justify-content: center;align-items: center">
                                <input type="hidden" class="form-control"  name="admin" value='0'>
                                <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff" type="submit" name="login_submit" value="登录">
                                <a href="{:url('/index/index/teacher_to_register')}" style="color: #000;">去注册</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Large modal -->
        <div class="modal fade" id="student" tabindex="-1" role="dialog" aria-labelledby="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">学生登陆</h4>
                    </div>
                    <div class="modal-body">
                        <form name="form" action="{:url('index/student/login')}" novalidate method="POST">

                            <div class="form-group">
                                <input type="text" autocomplete="off" class="form-control" placeholder="学生账号" name="name" >
                            </div>

                            <div class="form-group">
                                <input type="password" autocomplete="off" class="form-control" placeholder="密码" name="password" >
                            </div>

                            <div class="form-group text-left mt-20" style="display: flex;justify-content: center;align-items: center">
                                <input type="hidden" class="form-control"  name="admin" value='2'>
                                <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff" type="submit" name="login_submit" value="登录">
                                <a href="{:url('index/student/register')}" style="color: #000;">去注册</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/if}

    {if($name)}
        <div class="header">
            <a class="open" id="open-button" style="margin-left: 20px"><img src="__STATIC__/images/open.png"></a>
            <div>
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('index/index/role')}">你好,{$name}</a>
            <a href="{:url('index/index/login_out')}">注销</a>
            </div>
        </div>
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #583e7e" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand" style="background-color: #583e7e">
                <a href="#">
                    个人信息
                </a>
            </li>
            {if($role==2)}
            <div style="padding-left: 30px;color: #fff">
                <p><span>用户名：</span>{$student['name']}</p>
                <p><span>真实姓名：</span>{$student['real_name']}</p>
                <p><span>积分：</span>{$student['point']}</p>
            </div>
            {/if}
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
    </div>

    <!-- /#page-content-wrapper -->

</div>
    {/if}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>

</body>
</html>