<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>直播系统</title>
</head>
<body>
<div class="content">
    {include file='index/header' /}
    <div class="row list">
        <div class="col-md-8 col-xs-8" style="padding: 0px 5px">
            <div class="iconfont icon-zhibo" style="height: 50px;line-height: 50px;padding-left: 10px;">正在直播</div>
            <div class="live">
                <a>
                    <div class="live_pic col-md-4 col-xs-4"><img src="__PUBLIC__/images/nopic.jpg" /></div>
                    <div class="live_txt col-md-8 col-xs-8">
                        <p>课程名称：绛县横水初中直播课堂---八年级数学</p>
                        <p>主讲教师：王琴　司红翠</p>
                        <p>开始时间：2016-07-11</p>
                    </div>
                </a>
                <a>
                    <div class="live_pic col-md-4 col-xs-4"><img src="__PUBLIC__/images/nopic.jpg" /></div>
                    <div class="live_txt col-md-8 col-xs-8">
                        <p>课程名称：绛县横水初中直播课堂---八年级数学</p>
                        <p>主讲教师：王琴　司红翠</p>
                        <p>开始时间：2016-07-11</p>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-md-4 col-xs-4 history">
            <div class="iconfont icon-zhibo" style="height: 50px;line-height: 50px;padding-left: 10px;">历史回顾</div>
            <ul>
               <li>
                   <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
               </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>