<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>教育直播系统</title>
</head>
<body>
<div class="content">
    {include file='index/header' /}
    <div class="row list">
        <div class="col-md-8 col-xs-8" style="padding: 0px 5px">
            <div class="iconfont icon-zhibo" style="height: 50px;line-height: 50px;padding-left: 10px;">正在直播</div>
            <div class="live">
                {if($role==2)}
                    {foreach($data as $da)}
                        {if(count($myclass)==0)}
                        <a data-toggle="modal" data-target="#{$da['teacher_id']}" style="cursor: pointer">
                            <div class="live_pic"><img src="__PUBLIC__/images/nopic.jpg" /></div>
                            <div class="live_txt">
                                <p>课程名称：{$da['class_name']}</p>
                                <p>主讲教师：{$da['name']}</p>
                                <p>开始时间：{$da['start_time']}</p>
                            </div>
                        </a>
                            <div class="modal fade" id="{$da['teacher_id']}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content" style="height: 150px;width: 300px;display: flex;flex-direction: column;align-items: center;justify-content: center">
                                        <p>需要积分:{$da['point']}</p>
                                        <a style="background-color:#317EF3;color:#fff;height: 30px;width: 80px;" href="{:url('/index/student/pay',['point'=>$da['point'],'class_id'=>$da['id'],'teacher_id'=>$da['teacher_id']])}">点击确定</a>
                                        <p style="font-size: 12px;color: red;margin-top: 10px;">可联系客服进行积分充值</p>
                                    </div>
                                </div>
                            </div>
                        {/if}
                        {if(count($myclass)!=0)}
                            {if(in_array($da['id'],$myclass))}
                                <a target="_blank" href="{$da['student_url'].'visible=true&nickname='.$name.'&token='.$da['student_token']}" style="cursor: pointer">
                                    <div class="live_pic"><img src="__PUBLIC__/images/nopic.jpg" /></div>
                                    <div class="live_txt">
                                        <p>课程名称：{$da['class_name']}</p>
                                        <p>主讲教师：{$da['name']}</p>
                                        <p>开始时间：{$da['start_time']}</p>
                                    </div>
                                </a>
                            {/if}
                            {if(!in_array($da['id'],$myclass))}
                                <a data-toggle="modal" data-target="#{$da['id']}" style="cursor: pointer">
                                    <div class="live_pic"><img src="__PUBLIC__/images/nopic.jpg" /></div>
                                    <div class="live_txt">
                                        <p>课程名称：{$da['class_name']}</p>
                                        <p>主讲教师：{$da['name']}</p>
                                        <p>开始时间：{$da['start_time']}</p>
                                    </div>
                                </a>
                                <div class="modal fade" id="{$da['id']}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content" style="height: 150px;width: 300px;display: flex;flex-direction: column;align-items: center;justify-content: center">
                                            <p>需要积分:{$da['point']}</p>
                                            <a style="background-color:#317EF3;color:#fff;height: 30px;width: 80px;" href="{:url('/index/student/pay',['point'=>$da['point'],'class_id'=>$da['id'],'teacher_id'=>$da['teacher_id']])}">点击确定</a>
                                            <p style="font-size: 12px;color: red;margin-top: 10px;">可联系客服进行积分充值</p>
                                        </div>
                                    </div>
                                </div>
                            {/if}
                        {/if}
                    {/foreach}
                {/if}
                {if($role!=2)}
                    {foreach($data as $da)}
                    <a style="cursor: pointer">
                        <div class="live_pic"><img src="__PUBLIC__/images/nopic.jpg" /></div>
                        <div class="live_txt">
                            <p>课程名称：{$da['class_name']}</p>
                            <p>主讲教师：{$da['name']}</p>
                            <p>开始时间：{$da['start_time']}</p>
                        </div>
                    </a>
                    {/foreach}
                {/if}
            </div>

        </div>
        {if($role==2)}
            <div class="col-md-4 col-xs-4 history" style="text-align: center">
                <div style="height: 50px;line-height: 50px;padding-left: 10px;font-size: 23px;background-color: #fff">学生信息</div>
                <div style="background-color: #fff;padding-left: 10px;padding-bottom: 10px;margin-bottom: 10px;">
                <p><span>用户名：</span>{$student['name']}</p>
                <p><span>真实姓名：</span>{$student['real_name']}</p>
                <p><span>积分：</span>{$student['point']}</p>
                </div>
            </div>
        {/if}
        <div class="col-md-4 col-xs-4 history">
            <div class="iconfont icon-zhibo" style="height: 50px;line-height: 50px;padding-left: 10px;">历史回顾</div>
            <ul>
               <li>
                   <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
               </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
                <li>
                    <a>2月9日绛县直播课堂---七年级英语任全新老师的直播讲座</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>