<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>教育直播系统</title>

    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/style/index.css" rel="stylesheet">
    <link href="__PUBLIC__/style/admin.css" rel="stylesheet">
    <link href="__PUBLIC__/fonts/iconfont.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color: #fff">
<div class="content">
    <div class="header">
        <a href="{:url('index/index')}">首页</a>
        <a href="#">你好,{$name}</a>
        <a href="{:url('index/index/login_out')}">注销</a>
    </div>
    <div class="detail row">
        <!-- Nav tabs -->
        <div style="margin-right: 40px;border: 1px solid #ddd;height: 123px;border-radius: 5px;box-shadow: 1px 2px 1px #ddd;-webkit-box-shadow:1px 2px 1px #ddd;-moz-box-shadow:1px 2px 1px #ddd;">
        <ul role="tablist">
            <li style="border-bottom: 1px solid #ddd" role="presentation" class="active"><a href="#url" aria-controls="url" role="tab" data-toggle="tab">url管理</a></li>
            <li style="border-bottom: 1px solid #ddd" role="presentation"><a href="#teacher" aria-controls="teacher" role="tab" data-toggle="tab">教师积分管理</a></li>
            <li role="presentation"><a href="#student" aria-controls="student" role="tab" data-toggle="tab">学生积分管理</a></li>
        </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content" style="box-shadow: 2px 2px 1px #ddd;-webkit-box-shadow:1px 2px 1px #ddd;-moz-box-shadow:1px 2px 1px #ddd;">
            <div role="tabpanel" class="tab-pane active" id="url">
                <div class="change">
                    <button type="button" class="btn" data-toggle="modal" data-target="#admin">
                        添加
                    </button>
                    <div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">添加url</h4>
                                </div>
                                <div class="modal-body">
                                    <form name="form" action="{:url('index/admin/addUrl')}" novalidate method="POST">

                                        <div class="form-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="教师url" name="teacher_url" >
                                        </div>

                                        <div class="form-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="教师口令" name="teacher_token" >
                                        </div>

                                        <div class="form-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="助教口令" name="help_token" >
                                        </div>

                                        <div class="form-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="学生url" name="student_url" >
                                        </div>

                                        <div class="form-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="学生口令" name="student_token" >
                                        </div>
                                        <div class="form-group text-left mt-20" style="display: flex;justify-content: center;">
                                            <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff" type="submit" name="login_submit" value="添加">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table>
                    <tr>

                        <th>教师url</th>
                        <th>教师口令</th>
                        <th>助教口令</th>
                        <th>学生url</th>
                        <th>学生口令</th>
                        <th>所属教师</th>
                        <th>操作</th>
                    </tr>
                    {if($urls)}
                    {foreach($urls as $url)}
                    <tr>

                        <td>{$url['teacher_url']}</td>
                        <td>{$url['teacher_token']}</td>
                        <td>{$url['help_token']}</td>
                        <td>{$url['student_url']}</td>
                        <td>{$url['student_token']}</td>
                        <td>{$url['status']==0?'未分配':$url['name']}</td>
                        <td>
                            <button style="background-color: #317EF3;color: #fff;border-radius: 5px;" type="button" class="btn" data-toggle="modal" data-target="#{$url['url_id']}">修改</button>
                            <div class="modal fade" id="{$url['url_id']}" tabindex="-1" role="dialog" aria-labelledby="">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">修改url</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form name="form" action="{:url('index/admin/updateUrl')}" novalidate method="POST">
                                                <input type="hidden" autocomplete="off" class="form-control" placeholder="url_id" name="url_id" value="{$url['url_id']}">
                                                <div class="form-group">
                                                    <p style="float: left">教师url</p><input type="text" autocomplete="off" class="form-control" placeholder="教师url" name="teacher_url" value="{$url['teacher_url']}">
                                                </div>

                                                <div class="form-group">
                                                    <p style="float: left">教师口令</p><input type="text" autocomplete="off" class="form-control" placeholder="教师口令" name="teacher_token" value="{$url['teacher_token']}">
                                                </div>

                                                <div class="form-group">
                                                    <p style="float: left">助教口令</p><input type="text" autocomplete="off" class="form-control" placeholder="助教口令" name="help_token" value="{$url['help_token']}">
                                                </div>

                                                <div class="form-group">
                                                    <p style="float: left">学生url</p><input type="text" autocomplete="off" class="form-control" placeholder="学生url" name="student_url" value="{$url['student_url']}">
                                                </div>

                                                <div class="form-group">
                                                    <p style="float: left">学生口令</p><input type="text" autocomplete="off" class="form-control" placeholder="学生口令" name="student_token" value="{$url['student_token']}">
                                                </div>
                                                <div class="form-group text-left mt-20" style="display: flex;justify-content: center;">
                                                    <input style="height: 40px;width: 100px;background-color: #317EF3;border-radius: 5px;color: #fff" type="submit" name="login_submit" value="修改">
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button style="background-color: #317EF3;color: #fff;border-radius: 5px;" type="button" class="btn" data-toggle="modal" data-target="#{$url['url_id'].'delete'}">删除</button>
                            <div class="modal fade" id="{$url['url_id'].'delete'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content" style="height: 100px;display: flex;align-items: center;justify-content: center">
                                        <a style="background-color: #317EF3;color: #fff;padding: 5px;border-radius: 5px;" href="{:url('index/admin/deleteUrl',['id'=>$url['url_id']])}">点击确认删除</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="teacher">

            </div>
            <div role="tabpanel" class="tab-pane" id="student">student</div>
        </div>

    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>