.content .detail ul {
  list-style: none;
}
.content .detail ul li {
  height: 60px;
  list-style: none;
}
.content .detail ul .active {
  background-color: #0099CB;
  font-size: 16px;
  font-weight: bold;
}
.content .detail ul .active a {
  color: #fff;
}
.content .detail .change {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content .detail .change button {
  color: #fff;
  background-color: #317EF3;
  margin-left: 20px;
}
.content .detail table {
  width: 100%;
  border: 1px solid #ddd;
}
.content .detail table th {
  text-align: center!important;
  height: 40px;
  background-color: #DAE2E5;
  border: 1px solid #ddd;
}
.content .detail table td {
  border: 1px solid #ddd;
  height: 40px;
  text-align: center!important;
  padding: 0px 5px;
}
