body{
  a,a:hover,a:focus{
    text-decoration: none;
  }
  background-color: #f2f2f2;
  .content{
    .header{
      background-color: #000;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 200px;
      padding-left: 200px;
      a{
        color: #fff;
        margin-left: 20px;
      }
      a,a:hover,a:focus{
        text-decoration: none;
      }

      p{
        color: #fff;
        margin-bottom: 0px;
      }
    }
    .list{
      margin: 0px 200px 0px 200px;
      .iconfont{
        font-size: 23px;
        color: skyblue;
        background-color: #fff;
        height: 50px;
      }
      .live{
        margin-top: 10px;
        a{
          display: flex;
          color: #000;
          background-color: #fff;
          align-items: center;
          height: 150px;
          padding: 10px;
          border-bottom: 1px solid #ddd;
          img{
            width: 100%;
          }
        }
        a:hover,a:focus{
          text-decoration: none;
          color: skyblue;
        }
        .live_pic{
          width: 200px;
          margin-right: 20px;
        }
      }
      .history{
        ul{
          margin-top: 10px;
          background-color: #fff;
          padding-left: 0px;
          li{
            list-style: none;
            padding: 5px 10px 5px 10px;
            border-bottom: 1px solid #ddd;
          }

        }
      }
    }
    .info{
      padding: 0px 200px;
      .detail{
        margin-top: 100px;
      }
    }
  }
}
